---
---

@import "{{ site.theme }}";
header {
    border-bottom: 2px solid #1f75fe;
}

h2 {
    color: teal;
}

body {
    counter-reset: h2counter;
}
h1 {
    counter-reset: h2counter;
}
h2:before{
    content: counter(h2counter) ".\0000a0";
    counter-increment: h2counter;    
}
h2.nocount:before{
    content: none;
    counter-increment: none;
}

hr {
    border-color: #1f75fe;
}
