---
---

@import "{{ site.theme }}";
header {
    border-bottom: 2px solid #1f75fe;
}

h2 {
    color: teal;
}

body {
    counter-reset: h2counter;
    margin-left: 15%;
}

@media only screen and (max-width: 1000px) {
    body {
	margin-left: 25%;
    }
}

h1 {
    counter-reset: h2counter;
}
h2:before{
    content: counter(h2counter) ".\0000a0";
    counter-increment: h2counter;    
}
h2.nocount:before{
    content: none;
    counter-increment: none;
}

hr {
    border-color: #1f75fe;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

img + em {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
    color: teal;
}
